/* CURRENTLY IN: styles/main.css */

/* clearfix class */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*.top--blackbox{

width: 100%;
height: 120px;
border-bottom: 5px;
border-bottom: 5px solid ;
position: ;

background-color: ;
*/
}

a {

text-decoration: none;

}

html, body {
height: 100%;
margin:0;
padding:0;
     
}

html {

	/*position:fixed;*/
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    height: 100%;
    overflow: scroll;
}


body {

 background: url(../flyimages/airport9themesdotcom.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:helvetica;

}


.navtab--superior {

width: 100%;
height: 70px auto;
position: fixed;
left: 0;
top: 0;
margin: 0 auto;

background-color:rgba(192,192,192,0.50);
}

.menuoptions {

margin-left: 5rem;
padding-top: 1.3rem;
padding-bottom: 1.3rem;
}

.menuup {

display: block;
float: left;
margin-right: 2rem;

color: white;
font-weight: normal;
font-family: helvetica,arial narrow;
font-size: 18px;

}

.wrapper--goes{

margin: 0 auto;
margin-top: 5rem;
margin-left: 8rem;
}

.insideone {

width: 400px;
height: 400px;

margin-top: 4rem;
margin-right: 1rem;

border: 2px solid white;
background-color: white;
opacity: 0.6;

display: inline-block;
float: left;

}

.insidewrap {

width: 500px;
height: 500px;

margin-right: 1rem;

border-radius: 20px;
border: 2px solid white;
background-color: white;
opacity: 0.6;

display: inline-block;
float: left;

}

.wrapper--choices {

margin: 0 auto;
margin-top: 8rem;
border: 2px solid white;
}

.forchoices{

width: 900px auto;
height: 100px auto;
margin: 0 auto;
margin-left: 7rem;
margin-right: 7rem;

margin-top: 2rem;
border: 2px solid white;

}

.wrapper--games {

margin: 0 auto;
margin-top: 6rem;
margin-left: 4rem;
margin-right: 4rem;


}

.boxforall {

width: 1000;
height: 900;
margin-left: 3rem;

}

.boxone {

width: 400px;
height: 400px;
margin: 0 auto;

margin-right: 2rem;

text-decoration: none;

display: inline-block;
float: left;
/*border: 2px solid green;*/
}

.forbutton1 {

width: 1150px;
height: 900;
margin: 0 auto;

margin-left: 3rem;
margin-right: 1rem;

text-decoration: none;
/*border: 2px solid yellow;*/
}

.button1 {

width: 280px;
height: 45px;

padding-left: 1rem;
padding-right: 1rem;

display: inline-block;
float: left;

margin-top: 2rem;

margin-right: 10rem;

text-align: center;
text-decoration: none;

border-radius: 10rem;
background-color: white;

color: black;
font-family: helvetica, arial narrow;
font-weight: bold;

}

.button2 {

width: 200px;
height: 45px;

padding-left: 1rem;
padding-right: 1rem;

display: inline-block;
float: left;

margin-top: 2rem;
margin-right: 13rem;

text-align: center;
text-decoration: none;

border-radius: 10rem;
background-color: white;

color: black;
font-family: helvetica, arial narrow;
font-weight: bold;

}

.button3 {

width: 200px;
height: 45px;

padding-left: 1rem;
padding-right: 1rem;

display: inline-block;
float: left;

margin-top: 2rem;
margin-right: 0.1rem;

text-align: center;
text-decoration: none;

border-radius: 10rem;
background-color: white;

color: black;
font-family: helvetica, arial narrow;
font-weight: bold;

}












.footercopyright {
/*width: 100%;
height: 50px;*/

font-family: helvetica, arial;
color: white;
font-weight: normal; font-family: helvetica, arial;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
padding-left: 2rem;
background-color:black;
}

.footer--cright {

width: 100%;
height: 60px;
position: fixed;
left: 0;
margin: auto;
bottom: 0;

}

